@import "../../styles/variables";

.paragraph {
  font-family: $typographyFamilyBase;
  font-size: $typographySizeXXXSmall;
  color: $darkHigh;
  padding: 0;
  margin: 0;

  &.-regular {
    font-weight: $typographyWeightRegular;
  }

  &.-bold {
    font-weight: $typographyWeightBold;
  }

  &.-darkLow {
    color: $darkLow;
  }
  &.-darkMedium {
    color: $darkMedium;
  }
  &.-darkHigh {
    color: $darkHigh;
  }
  &.-lightSolid {
    color: $lightSolid;
  }
  &.-lightHigh {
    color: $lightHigh;
  }
}
