$dark-low: rgba(0, 0, 0, 0.44);
$dark-medium: rgba(0, 0, 0, 0.60);
$dark-high: rgba(0, 0, 0, 0.80);

$light-solid: #FFFFFF;
$light-high: rgba(255, 255, 255, 0.80);
$test: red;

:export {
  test: $test;
  dark-low: $dark-low;
  dark-medium: $dark-medium;
  dark-high: $dark-high;
  light-solid: $light-solid;
  light-high: $light-high;
}
