@import "../../styles/variables";

.title {
  color: $darkHigh;
  margin: 0;
  font-size: $typographySizeXLarge;
  font-weight: $typographyWeightBold;
  font-family: $typographyFamilyBase;
  letter-spacing: $typographyLetterSpacingXXXSmall;
  line-height: $typographyLineXLarge;

  &.-darkLow {
    color: $darkLow;
  }
  &.-darkMedium {
    color: $darkMedium;
  }
  &.-darkHigh {
    color: $darkHigh;
  }
  &.-lightSolid {
    color: $lightSolid;
  }
  &.-lightHigh {
    color: $lightHigh;
  }

  @at-root h1#{&} {
    font-size: $typographySizeXLarge;
    letter-spacing: $typographyLetterSpacingXXXSmall;
    line-height: $typographyLineXLarge;
  }

  @at-root h2#{&} {
    font-size: $typographySizeLarge;
    letter-spacing: $typographyLetterSpacingXXSmall;
    line-height: $typographyLineLarge;
  }

  @at-root h3#{&} {
    font-size: $typographySizeMedium;
    letter-spacing: $typographyLetterSpacingXSmall;
    line-height: $typographyLineMedium;
  }

  @at-root h4#{&} {
    font-size: $typographySizeSmall;
    letter-spacing: $typographyLetterSpacingSmall;
    line-height: $typographyLineSmall;
  }

  @at-root h5#{&} {
    font-size: $typographySizeXSmall;
    line-height: $typographyLineXSmall;
  }

  @at-root h6#{&} {
    font-size: $typographySizeXXXSmall;
    line-height: $typographyLineXXXSmall;
  }

  @media (max-width: $responsiveSm) {
    @at-root h1#{&} {
      font-size: $typographySizeLarge;
      letter-spacing: $typographyLetterSpacingXXXSmall;
      line-height: $typographyLineLarge;
    }
  
    @at-root h2#{&} {
      font-size: $typographySizeMedium;
      letter-spacing: $typographyLetterSpacingXXSmall;
      line-height: $typographyLineMedium;
    }

    @at-root h3#{&} {
      font-size: $typographySizeSmall;
      letter-spacing: $typographyLetterSpacingXSmall;
      line-height: $typographyLineSmall;
    }
  
    @at-root h4#{&} {
      font-size: $typographySizeXSmall;
      letter-spacing: $typographyLetterSpacingSmall;
      line-height: $typographyLineXSmall;
    }
  
    @at-root h5#{&} {
      font-size: $typographySizeXXSmall;
      line-height: $typographyLineXXSmall;
    }
  }
}
